.container {
  width: 100%;
  height: auto;
  position: relative;
}
.banner {
  width: 100%;
  height: 380px;
  background-color: aliceblue;
}
.today_list {
  width: 100%;
  height: auto;
  margin-top: 40px;
}

.sub_banner {
  width: 100%;
  height: 190px;
  background-color: azure;
}

.tomorrow_list {
  width: 100%;
  min-height: 680px;
  height: auto;

  margin-top: 40px;
}

.inner {
  position: relative;
  width: 63%;
  height: auto;
  margin: 0 auto;
}
.title {
  position: relative;
}
.style_title {
  font-family: pretendard;
  font-weight: 700;
  font-size: 23px;
  top: 20px;
}
.location {
  position: relative;
  bottom: 3px;
  font-family: pretendard;
  font-weight: 500;
  font-size: 15px;
  color: #9b9999;
}
@media screen and (min-width: 1560px) and (max-width: 1600px) {
  .inner {
    width: 70%;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1560px) {
  .inner {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .inner {
    width: 90%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .inner {
    width: 90%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .inner {
    width: 95%;
  }
  .banner {
    height: 320px;
  }
}
@media screen and (min-width: 390px) and (max-width: 768px) {
  .inner {
    width: 95%;
  }
  .banner {
    height: 320px;
  }
}
@media screen and (max-width: 390px) {
  .inner {
    width: 97%;
  }
  .banner {
    height: 280px;
  }
}
