.container {
  width: 100%;
  height: auto;
  position: relative;
}
.banner {
  position: relative;
  width: 100%;
  height: 160px;
}

.nav {
  width: 100%;
  height: 40px;
  background-color: aliceblue;
}
.inner {
  margin-top: 20px;
}
.title {
  position: relative;
  width: 197px;
  margin: 0 auto;
  font-family: pretendard;
  font-weight: 700;
  font-size: 28px;
  top: 45%;
}

.list_container {
  width: 1440px;
  margin: 0 auto;
}
.filter {
  padding-right: 20px;
}

.filter_title {
  padding-right: 20px;
  width: 100%;
  top: 33px;
  height: 82px;
  font-family: pretendard;
  font-weight: 700;
  font-size: 14px;
}

.filter_container {
  width: 100%;

  border-bottom: 1px solid #e4e4e4;
  height: 82px;
}
.filter_list {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 17px 0 5px 0;
}
.filter_text > :nth-child(1) {
  font-family: pretendard;
  font-weight: 500;
  font-size: 15px;
}
.filter_text > :nth-child(2) {
  font-family: pretendard;
  font-weight: 400;
  font-size: 15px;
  margin-top: 7px;

  color: #9d9d9d;
}
.plus {
  position: relative;
  width: 10px;
  font-size: 25px;
  font-family: pretendard;
  font-weight: 100;
  color: #9d9d9d;
}

.ul {
  padding: 0;
  list-style: none;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  background-color: #fff;
  position: relative;
}

.li {
  width: 100%;
}

.li > a {
  color: #000;
}

.li > a:hover {
  transition: 0;
}

.cody_list {
  margin-top: 82px;
}

.cody {
  width: 280px;
  height: 471px;
  background-color: #9d9d9d;
}

.b {
  width: 280px;
  height: 431px;
  background-color: #e4e4e4;
}
.a {
  width: 280px;
  height: 381px;
  background-color: #9d9d9d;
}
