.inner {
  position: relative;
  width: 63%;
  height: auto;
  margin: 0 auto;
}

.sub_list {
  width: 100%;
  min-height: 680px;
  height: auto;
  margin-top: 40px;
}

.title {
  position: relative;
}
.style_title {
  font-family: pretendard;
  font-weight: 700;
  font-size: 23px;
  top: 20px;
}
@media screen and (min-width: 1560px) and (max-width: 1600px) {
  .inner {
    width: 70%;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1560px) {
  .inner {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .inner {
    width: 90%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .inner {
    width: 90%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .inner {
    width: 95%;
  }
  .banner {
    height: 320px;
  }
}
@media screen and (min-width: 390px) and (max-width: 768px) {
  .inner {
    width: 95%;
  }
  .banner {
    height: 320px;
  }
}
@media screen and (max-width: 390px) {
  .inner {
    width: 97%;
  }
  .banner {
    height: 280px;
  }
}
